@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainbg {
  background-color: #A8CCC4;
}

.headerbg {
  background-color: #6F9288;
}
